<article class="rounded h-auto shadow flex-col">
  <img src="{{image_url}}" alt="{{description}}" class="w-full">
  <h3 class="p-2 bg-gray-200 text-gray-600 font-black tracking-widest">{{title}}</h3>
  <p class="p-2 text-gray-600">
    {{description}}
  </p>
  <div class="flex justify-center">
    <a href="mailto:{{user.email}}" class="inline-block bg-blue-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Contact Owner</a>
    {{!-- {{#if isOwner}} --}}
    <a href="/" class="inline-block bg-red-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Unlist Item</a>
    {{!-- {{/if}} --}}
  </div>
  
</article>